<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Items</h1>
        <hr />
        <br /><br />
        <alert :message="message" v-if="showMessage"></alert>
        <button
          type="button"
          class="btn btn-success btn-sm"
          v-b-modal.item-modal
        >
          Add Item
        </button>
        <br /><br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
              <th scope="col">Storage-Room</th>
              <th scope="col">Storage-Rack</th>
              <th scope="col">Storage-Position</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items" :key="index">
              <td>{{ item.name }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.storage.room }}</td>
              <td>{{ item.storage.rack }}</td>
              <td>{{ item.storage.position }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button
                    type="button"
                    class="btn btn-warning btn-sm"
                    v-b-modal.item-update-modal
                    @click="editItem(item)"
                  >
                    Update
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    @click="onDeleteItem(item)"
                  >
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal
      ref="addItemModal"
      id="Item-modal"
      title="Add a new item"
      hide-footer
    >
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group
          id="form-name-group"
          label="Name:"
          label-for="form-name-input"
        >
          <b-form-input
            id="form-name-input"
            type="text"
            v-model="addItemForm.name"
            required
            placeholder="Enter item name"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-amount-group"
          label="Amount:"
          label-for="form-amount-input"
        >
          <b-form-input
            id="form-amount-input"
            type="integer"
            v-model="addItemForm.amount"
            required
            placeholder="Enter amount"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-room-group"
          label="Room:"
          label-for="form-room-input"
        >
          <b-form-input
            id="form-room-input"
            type="text"
            v-model="addItemForm.room"
            required
            placeholder="Enter storage room"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-rack-group"
          label="Rack:"
          label-for="form-rack-input"
        >
          <b-form-input
            id="form-rack-input"
            type="text"
            v-model="addItemForm.rack"
            required
            placeholder="Enter storage rack/shelf/box"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-position-group"
          label="Position:"
          label-for="form-position-input"
        >
          <b-form-input
            id="form-position-input"
            type="text"
            v-model="addItemForm.position"
            required
            placeholder="Enter exact position"
          >
          </b-form-input>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    <b-modal
      ref="editItemModal"
      id="item-update-modal"
      title="Update"
      hide-footer
    >
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
        <b-form-group
          id="form-name-edit-group"
          label="Name:"
          label-for="form-name-edit-input"
        >
          <b-form-input
            id="form-name-edit-input"
            type="text"
            v-model="editForm.name"
            required
            placeholder="Enter name"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-amount-edit-group"
          label="Amount:"
          label-for="form-amount-edit-input"
        >
          <b-form-input
            id="form-amount-edit-input"
            type="integer"
            v-model="editForm.amount"
            required
            placeholder="Enter amount"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-room-edit-group"
          label="Room:"
          label-for="form-room-edit-input"
        >
          <b-form-input
            id="form-room-edit-input"
            type="text"
            v-model="editForm.storage.room"
            required
            placeholder="Enter storage room"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-rack-edit-group"
          label="Rack:"
          label-for="form-rack-edit-input"
        >
          <b-form-input
            id="form-rack-edit-input"
            type="text"
            v-model="editForm.storage.rack"
            required
            placeholder="Enter rack/shelf/box"
          >
          </b-form-input>
        </b-form-group>
        <b-form-group
          id="form-position-edit-group"
          label="Position:"
          label-for="form-position-edit-input"
        >
          <b-form-input
            id="form-position-edit-input"
            type="text"
            v-model="editForm.storage.position"
            required
            placeholder="Enter position"
          >
          </b-form-input>
        </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import axios from "axios";
import AlertMessage from "./AlertMessage.vue";

export default {
  data() {
    return {
      items: [],
      addItemForm: {
        name: "",
        amount: 0,
        room: "",
        rack: "",
        position: ""
      },
      message: "",
      showMessage: false,
      editForm: {
        name: "",
        amount: 0,
        storage: {},
        room: "",
        rack: "",
        position: ""
      }
    };
  },
  components: {
    alert: AlertMessage
  },
  methods: {
    getItems() {
      const path =
        "https://5000-amethyst-llama-f3teo82y.ws-eu18.gitpod.io/items";
      axios
        .get(path)
        .then(res => {
          this.items = res.data.items;
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addItem(payload) {
      const path =
        "https://5000-amethyst-llama-f3teo82y.ws-eu18.gitpod.io/items";
      axios
        .post(path, payload)
        .then(() => {
          this.getItems();
          this.message = "Item added!";
          this.showMessage = true;
        })
        .catch(error => {
          // eslint-disable-next-line
          console.log(error);
          this.getItems();
        });
    },
    initForm() {
      this.addItemForm.name = "";
      this.addItemForm.amount = 0;
      this.addItemForm.storage.room = "";
      this.addItemForm.storage.rack = "";
      this.addItemForm.storage.position = "";
      this.editForm.name = "";
      this.editForm.amount = 0;
      this.editForm.storage.room = "";
      this.editForm.storage.rack = "";
      this.editForm.storage.position = "";
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addItemModal.hide();
      const payload = {
        name: this.addItemForm.name,
        amount: this.addItemForm.amount,
        storage: {
          room: this.addItemForm.room,
          rack: this.addItemForm.rack,
          position: this.addItemForm.position
        }
      };
      this.addItem(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addItemModal.hide();
      this.initForm();
    },
    editItem(item) {
      this.editForm = item;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editItemModal.hide();
      const payload = {
        name: this.editForm.name,
        amount: this.editForm.amount,
        storage: {
          room: this.editForm.storage.room,
          rack: this.editForm.storage.rack,
          position: this.editForm.storage.position
        }
      };
      this.updateItem(payload, this.editForm.id);
    },
    updateItem(payload, itemID) {
      const path = `https://5000-amethyst-llama-f3teo82y.ws-eu18.gitpod.io/items/${itemID}`;
      axios
        .put(path, payload)
        .then(() => {
          this.getItems();
          this.message = "Item updated!";
          this.showMessage = true;
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error);
          this.getItems();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editItemModal.hide();
      this.initForm();
      this.getItems(); // why?
    },
    removeItem(itemID) {
      const path = `5000-amethyst-llama-f3teo82y.ws-eu18.gitpod.io/items/${itemID}`;
      axios
        .delete(path)
        .then(() => {
          this.getItems();
          this.message = "Item removed!";
          this.showMessage = true;
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error);
          this.getItems();
        });
    },
    onDeleteItem(item) {
      this.removeItem(item.id);
    }
  },
  created() {
    this.getItems();
  }
};
</script>
