<template>
  <div class="container">
    <button type="button" class="btn btn-primary">{{ msg }}</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "PingDebug",
  data() {
    return {
      msg: ""
    };
  },
  methods: {
    getMessage() {
      const path =
        "https://5000-amethyst-llama-f3teo82y.ws-eu18.gitpod.io/ping";
      axios
        .get(path)
        .then(res => {
          this.msg = res.data;
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error);
        });
    }
  },
  created() {
    this.getMessage();
  }
};
</script>
